.aside {
		grid-area: aside;
		background-color: #a6e3e9; /*$primary-300; */
		box-shadow: 3px 3px 15px 0 rgba(50, 50, 50, 0.1);
		border-radius: 10px;
		padding: 30px;

	.list {
		display: flex;
		flex-direction: column;
	}
	.item {
		& + .item {
			margin-top: 15px;
		}
	}
	.link{
		&.active{
			font-weight: 700;
			color: #222222;
		}
	}
}

