.MyPosts {
	margin-top: 50px;

	.title {
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	
	.textArea {
		border-radius: 7px;
		padding: 10px 15px;
		min-width: 100%;
		min-height: 125px;
		resize: none;
		overflow-y: none;
		border: none;
	}
	.btnSend {
		display: block;
		margin: 10px 0px 30px auto;
		padding: 10px 20px;
		background-color: white;
		border: none;
		border-radius: 7px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			background-color: #258286;
			color: white;
		}
		&:active {
			background-color: darken(#258286, 5%);
		}
	}
}
